@tailwind base;
@tailwind components;
@tailwind utilities;

/* .profileImg{
  width: 52px;
} */


.animated-gradient {
  height: 100vh;
  background: linear-gradient(-45deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.about-gradient {
  background: linear-gradient(270deg, #3b3b98, #fd5e53, #ff6b6b, #48c6ef);
  background-size: 800% 800%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
